:host {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 0;
  vertical-align: middle;
}

.icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

svg {
  width: 100%;
  height: 100%;
  fill: none;
  stroke: currentColor;
}

/* Ensure the icon scales with parent font size if size is not explicitly set or if desired */
:host([size]) .icon-container {
  width: var(--icon-size);
  height: var(--icon-size);
}
