:host {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 0;
  vertical-align: middle;
}

.icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%; 
}

svg {
  display: block;
  width: 100% !important;
  height: 100% !important;
  fill: none;
  stroke: none !important;
}

/* Fallback for the container */
.icon-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
